<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxd.dao.ResourceMapper">
  <resultMap id="resourceMap" type="com.hxd.bean.Resource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="groupId" jdbcType="INTEGER" property="groupid" />
    <result column="resType" jdbcType="TINYINT" property="restype" />
    <result column="resName" jdbcType="VARCHAR" property="resName" />
    <result column="unitPrice" jdbcType="DECIMAL" property="unitPrice" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="totalPrice" jdbcType="DECIMAL" property="totalPrice" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="info" jdbcType="VARCHAR" property="info" />
    
  </resultMap>
  <resultMap id="resourceMapWithUrl" type="com.hxd.vo.ResourceVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="groupId" jdbcType="INTEGER" property="groupid" />
    <result column="resType" jdbcType="TINYINT" property="restype" />
    <result column="bigPicUrl" jdbcType="VARCHAR" property="bigpicurl" />
    <result column="smallPicUrl" jdbcType="VARCHAR" property="smallpicurl" />
    <result column="fileUrl" jdbcType="VARCHAR" property="fileurl" />
    <result column="groupName" jdbcType="VARCHAR" property="groupName" />
    <result column="resName" jdbcType="VARCHAR" property="resName" />
    <result column="menuUrl" jdbcType="VARCHAR" property="menuUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, groupId, resType, resName, unitPrice, number, totalPrice, createTime, updateTime, info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="resourceMap">
    select 
    	<include refid="Base_Column_List" />
    from resource
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hxd.bean.Resource">
    insert into resource (id, groupId, resType, 
      resName, unitPrice, number, totalPrice, createTime, updateTime, info
      )
    values (#{id,jdbcType=INTEGER}, #{groupid,jdbcType=INTEGER}, #{restype,jdbcType=TINYINT}, 
      #{resName,jdbcType=VARCHAR}, #{unitPrice,jdbcType=DECIMAL}, #{number,jdbcType=INTEGER},
      #{totalPrice,jdbcType=DECIMAL},#{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{info,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hxd.bean.Resource">
    insert into resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupid != null">
        groupId,
      </if>
      <if test="restype != null">
        resType,
      </if>
       <if test="resName != null">
        resName,
      </if>
      <if test="unitPrice != null">
        unitPrice,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="totalPrice != null">
        totalPrice,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="restype != null">
        #{restype,jdbcType=TINYINT},
      </if>
      <if test="resName != null">
        #{resName,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxd.bean.Resource">
    update resource
    <set>
      <if test="groupid != null">
        groupId = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="restype != null">
        resType = #{restype,jdbcType=TINYINT},
      </if>
      <if test="resname != null">
        resName = #{resname,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        unitPrice = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        totalPrice = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="desc != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxd.bean.Resource">
    update resource
    set groupId = #{groupid,jdbcType=INTEGER},
      resType = #{restype,jdbcType=TINYINT},
      resName = #{resname,jdbcType=VARCHAR},
      unitPrice = #{unitPrice,jdbcType=DECIMAL},
      number = #{number,jdbcType=INTEGER},
      totalPrice = #{totalPrice,jdbcType=DECIMAL},
      createTime =  #{createTime,jdbcType=TIMESTAMP},
      updateTime =  #{updateTime,jdbcType=TIMESTAMP},
      info = #{info,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

 <select id="queryResourceListByPage" resultMap="resourceMap" parameterType="map">
		SELECT 
	        <include refid="Base_Column_List" />
		from resource 

		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="sSearch != null">
				AND (
					resName like CONCAT('%',#{sSearch},'%')
				)
      		</if>
      		
			<if test="restype != null">
				AND (
					resType=#{restype,jdbcType=TINYINT}
				)
			</if>
			
			<if test="groupid != null">
				AND (
					groupId = #{groupid,jdbcType=INTEGER}
				)
      		</if>
      		
      	</trim>

		<choose>
			<when test="orderField !=null and orderField !=''">
				 ORDER BY ${orderField} <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
			</when>
			<otherwise>
				 order by id DESC
			</otherwise>
		</choose>
      	 
	</select>
	
	<select id="queryResourceListCount" resultType="java.lang.Integer" parameterType="map">
		select count(0) as c from resource
	
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="sSearch != null">
				AND (
					resName like CONCAT('%',#{sSearch},'%')
					
				)
			</if>
				<if test="restype != null">
				AND (
					resType=#{restype,jdbcType=TINYINT}
				)
			</if>
			<if test="groupid != null">
				AND (
					groupId = #{groupid,jdbcType=INTEGER}
				)
      		</if>
      	</trim>
	</select>
	
	<delete id="deleteResourceByBatch" parameterType="java.util.List">
  		delete from resource
  		<where>
 		 	<foreach collection="list" index="index" item="item" open="(" separator="or" close=")">     
  				id=#{item}
    		</foreach>
  		</where>
  	</delete>
  	
  	<select id="queryResourceCountByGroupID" resultType="java.lang.Integer" parameterType="com.hxd.bean.Resource">
		SELECT COUNT(*) FROM resource WHERE groupid = #{groupid,jdbcType=INTEGER}
      	 
	</select>
	
	<select id="findResourceByUserTypeWithLimit" resultMap="resourceMapWithUrl" parameterType="com.hxd.vo.ResourceVo">
		SELECT rg.groupName,rg.menuUrl, r.id,r.resName,r.resType,r.bigPicUrl,r.smallPicUrl,r.fileUrl FROM resourcegroup rg, resource r 
		WHERE rg.id=r.groupId AND r.useType=#{useType,jdbcType=INTEGER} ORDER BY r.id desc LIMIT 0,#{limit,jdbcType=INTEGER}
	</select>
	
	
</mapper>